<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
	<!-- log4j configuration -->

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d - %m %n" />
		</layout>
	</appender>

	<appender name="file"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="@logfilepath@" />
		<param name="MaxFileSize" value="@maxlogfilesize@" />
		<param name="MaxBackupIndex" value="@maxlogbackupindex@" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %m %n" />
		</layout>
	</appender>

	<category name="com.sun">
		<priority value="@deflevel@" />
	</category>
 
	<category name="org.ncbo.resource_access_tools">
		<priority value="@obrlevel@" />
	</category>  
	
	<root>
		<priority value="@deflevel@" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>


